body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.35);
  resize: horizontal;
}

button {
  border: none;
  border-radius: 4px;
  padding: 3px;
  cursor: pointer;
  font-size: 0.9rem;
}

button.secondary {
  background: #2196f3;
}

button.secondary:hover {
  background: #0b7dda;
}

button.danger {
  background: #f44336;
}

button.danger:hover {
  background: #da190b;
}

.delete-button {
  outline: none;
  border: none;
  color: gray;
  background: none;
  font-size: 2.0rem;
  display: flex;
}

.delete-button span {
  line-height: 1.3rem;
}

.expression-item {
  background: rgba(255, 255, 255, 1);
  display: flex;
  border: 1px rgb(212, 212, 212) solid;
}

.math-edit-box {
  float: left;
  display: block;
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  font-size: 1.5rem;
  min-height: 1.75rem;
}

.error-message {
  color: #ff6b6b;
  font-size: 12px;
}

.add-button {
  width: 100%;
  background: #2196f3;
}

.add-button:hover {
  background: #0b7dda;
}

.controls {
  position: absolute;
  right: 0;
  top: 0;
}